<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Waltuhcraft</title>
  <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
<div class="navbar" style="background-color: rgb(21, 8, 53);">
  <div class="test" style="flex: 1 50%">
    <img src="WC-snow.png" width="64px" height="64px" class="icon">
    <h1 style="color:rgb(255, 255, 255); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Waltercraft</h1>
  </div>
  <div class = "test" style="flex:1 30%">
      <a href="/chat"><h3 class="navop">Игровой чат</h3></a>
    <a href="/adminPanel"><h3 class="navop">Панель администрации</h3></a>
    <a href="/"><h3 class="navop">Главная</h3></a>
    <a href="/players"><h3 class="navop">Наш состав</h3></a>
    <a href="/donate"><h3 class="navop">Пожертвование</h3></a>
    <a><h3 class="navop">Регистрация</h3></a>
    <a href="https://discord.gg/gqrUH3hFhf"><img src="discord-white-icon.png" width="64px" height="64px" style="margin-left:2rem; margin-right: 2rem;"></a>
  </div>
</div>
<form method="post" action="donationTypes/add">
  <input type="text" placeholder="Название" name="name" required>
  <input type="number" placeholder="Цена" name="cost" required>
  <input type="submit" value="Добавить">
</form>
<form method="post" action="/donationTypeListSID">
  <input type="number" placeholder="ID" name="id">
  <input type="submit" value="Найти">
</form>
<ul>
  <th:block th:each="dt : ${donation_types}">
    <li>
      <span th:text="${dt.name} + ' ' + ${dt.cost}"></span>
      <form method="post" action="donationTypes/update">
        <input type="hidden" name="id" th:value="${dt.id}">
        <input type="text" name="name" value="Имя">
        <input type="number" name="cost" value="Стоимость">
        <input type="submit" value="Изменить">
      </form>
      <form method="post" action="donationTypes/delete">
        <input type="hidden" name="id" th:value="${dt.id}">
        <input type="submit" value="Удалить">
      </form>
    </li>
  </th:block>
</ul>
<span th:text="'Кол-во страниц:' + ${pages}"></span>
<form method="post" action="/donationTypeListPage">
  <input type="number" placeholder="Страница" name="page">
  <input type="submit" value="Открыть">
</form>
</body>
</html>